<%- include('partials/header') %>

<div class="d-flex justify-content-between mb-4 p-3">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

<div class="text-center">
  <div class="container-fluid">
    <i class="fas fa-key fa-6x"></i>
    <h2 class="display-4 app-heading mt-3">Oh no, You've discovered the secrets!</h2>
    <h4 class="app-heading">Good thing they're anonymous.</h4>

    <div class="container-fluid">
      <div class="row justify-content-evenly">
    <% theSecrets.forEach(function(user){ %>
     <% user.secret.forEach(function(secret){%>
          <div class="col-12 col-lg-2 col-md-3 secret-card">
            <p><%=secret%></p>
          </div> 
      <%})%>
    <%})%>
  </div>
</div>
    
    
 
  </div>
</div>

<%- include('partials/footer') %>
