
body {
  background-color: #E8ECEF;
  width: 100%;
  
}

.jumbo-bg{
  background-color: white;
  opacity: 0.9;
  border-radius: 20px;
  padding: 20px;
}

.secret-card{
  background-color: white;
  opacity: 0.8;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}

.card-bg{
  border-radius: 20px;
  width: 400px;
  margin: auto;

}

.app-heading{
  font-family: 'Anton', sans-serif;
}

.centered {
    padding-top: 200px;
    text-align: center;
}


